/* Glassmorphism Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* radial gradient vignette background */
  background: radial-gradient(
    circle,
    rgba(33, 33, 33, 0) 0%,
    rgba(33, 33, 33, 0.2) 100%
  );
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
